div.Filter
  display flex

option.type-, 
option.type-unknown,
option.type-shadow,
select.type-,
select.type-unknown,
select.type-shadow
  background: white
  color: black
  
  
select.type
  padding: 0 0
  width: 5rem
  text-shadow: 0 0 0

  
.BtnClear 
  background-color inherit
  border 0
  &:hover
    //border 1px solid gray
    background-color color-hover
      
