@require '../../styles/share'
@require '../../styles/types'
  

.FilterType
  -webkit-margin-before: 0.5rem
  -webkit-margin-after: 0.5rem  
  margin-top: 0.5rem
  margin-bottom: 0.7rem
  & label
    margin-left 1rem
    margin-right fontbasesize*0.5  
  & select
    font-size fontbasesize*1.1
    &.type
      padding: 0 0
      width: 7rem
      text-shadow: 0 0 0

option.type-, 
option.type-unknown,
option.type-shadow,
select.type-,
select.type-unknown,
select.type-shadow
  background: white
  color: black
  

.BtnClear 
  background-color inherit
  border 0
  font-size fontbasesize*1.1
  &:hover
    //border 1px solid gray
    background-color color-hover
      