@require '../../styles/share'


.FilterName
  -webkit-margin-before: 0.5rem
  -webkit-margin-after: 0.5rem  
  margin-top: 0.5rem
  margin-bottom: 0.7rem
  & label
    margin-right fontbasesize*0.5
  & input
    font-size fontbasesize*1.1

.BtnClear 
  background-color inherit
  border 0
  font-size fontbasesize*1.1
  &:hover
    //border 1px solid gray
    background-color color-hover