@require '../../styles/share'

div.Filter
  display flex
  
.FilterName input
  font-size 1rem

.BtnClear 
  background-color inherit
  border 0
  &:hover
    //border 1px solid gray
    background-color color-hover