color-bug = #a8b820
color-dark = #705848
color-dragon = #7038f8
color-electric = #f8d030
color-fairy = #e898e8
color-fighting = #c03028
color-fire = #f08030
color-flying = #a890f0
color-ghost = #705898
color-grass = #78c850
color-ground = #e0c068
color-ice = #98d8d8
color-normal = #8a8a59
color-poison = #a040a0
color-psychic = #f85888
color-rock = #b8a038
color-steel = #b8b8d0
color-water = #6890f0


.type 
  line-height: 1
  padding: 5px 0
  margin: 1px 0
  border: 1px solid #aaa
  border-radius: 2px
  color: white  
  font-size: 0.8rem
  text-transform: uppercase
  text-shadow: 1px 1px 1px #333
  width: 58px
  display: inline-block
  text-decoration: none
  &:link:hover, &:link:active, &:link:focus 
    opacity: 0.85

colors(colorT)
  background: colorT
  background-image: -webkit-linear-gradient(colorT,darken(colorT,10%))
  background-image: linear-gradient(colorT,darken(colorT,10%))
  border-color: darken(colorT,20%)

.type-bug 
  colors(color-bug)

.type-dark 
  colors(color-dark)

.type-dragon 
  colors(color-dragon)

.type-electric 
  colors(color-electric)

.type-fairy 
  colors(color-fairy)

.type-fighting 
  colors(color-fighting)

.type-fire 
  colors(color-fire)

.type-flying 
  colors(color-flying)

.type-ghost 
  colors(color-ghost)

.type-grass 
  colors(color-grass)

.type-ground 
  colors(color-ground)

.type-ice 
  colors(color-ice)

.type-normal 
  colors(color-normal)

.type-poison 
  colors(color-poison)

.type-psychic 
  colors(color-psychic)

.type-rock 
  colors(color-rock)

.type-steel 
  colors(color-steel)

.type-water 
  colors(color-water)

