body
  margin: 0
  padding: 0
  font-family: "Tahoma","Ubuntu","Helvetica","Arial",sans-serif
  font-size: 1rem
  color: color-base
  line-height: 1.5
  
#root
  display: flex
  justify-content: center

.App
  display: flex
  flex-flow: column
  justify-content start
  align-items center
  
.TablePagination
  align-self flex-end