color-grass = #a040a0

.type-1
  color color-grass
  color hue(color-grass)
  background saturation(color-grass)
  border-color lightness(color-grass)
  color red(color-grass)
  color green(color-grass)
  color blue(color-grass)
  color alpha(color-grass)
  color rgb(color-grass)
  color rgba(color-grass)
  background hsl(color-grass)
  border-color hsla(color-grass)

color-grass = #803380

.type-2
  color color-grass
  color hue(color-grass)
  background saturation(color-grass)
  border-color lightness(color-grass)
  color red(color-grass)
  color green(color-grass)
  color blue(color-grass)
  color alpha(color-grass)
  color rgb(color-grass)
  color rgba(color-grass)
  background hsl(color-grass)
  border-color hsla(color-grass)

color-grass = #662966

.type-B
  color color-grass
  color hue(color-grass)
  background saturation(color-grass)
  border-color lightness(color-grass)
  color red(color-grass)
  color green(color-grass)
  color blue(color-grass)
  color alpha(color-grass)
  color rgb(color-grass)
  color rgba(color-grass)
  background hsl(color-grass)
  border-color hsla(color-grass)


.type-1 {
  color: #78c850;
  color: 100deg;
  background: 52.17391304347827%;
  border-color: 54.90196078431373%;
  color: 120;
  color: 200;
  color: 80;
  color: 1;
  color: #78c850;
  color: #78c850;
  background: #78c850;
  border-color: #78c850;
}
.type-2 {
  color: #5ca935;
  color: 99.82758620689656deg;
  background: 52.25225225225224%;
  border-color: 43.529411764705884%;
  color: 92;
  color: 169;
  color: 53;
  color: 1;
  color: #5ca935;
  color: #5ca935;
  background: #5ca935;
  border-color: #5ca935;
}
.type-B {
  color: #4a892b;
  color: 100.2127659574468deg;
  background: 52.22222222222223%;
  border-color: 35.29411764705882%;
  color: 74;
  color: 137;
  color: 43;
  color: 1;
  color: #4a892b;
  color: #4a892b;
  background: #4a892b;
  border-color: #4a892b;
}


.type-1 {
  color: #a040a0;
  color: 300deg;
  background: 42.857142857142854%;
  border-color: 43.92156862745098%;
  color: 160;
  color: 64;
  color: 160;
  color: 1;
  color: #a040a0;
  color: #a040a0;
  background: #a040a0;
  border-color: #a040a0;
}
.type-2 {
  color: #803380;
  color: 300deg;
  background: 43.01675977653631%;
  border-color: 35.09803921568627%;
  color: 128;
  color: 51;
  color: 128;
  color: 1;
  color: #803380;
  color: #803380;
  background: #803380;
  border-color: #803380;
}
.type-B {
  color: #662966;
  color: 300deg;
  background: 42.65734265734265%;
  border-color: 28.03921568627451%;
  color: 102;
  color: 41;
  color: 102;
  color: 1;
  color: #662966;
  color: #662966;
  background: #662966;
  border-color: #662966;
}
