
table 
  border-collapse: collapse
  border-spacing: 0
  border-color: grey  
  text-align: center

tbody tr:nth-child(even) 
  background-color: #f4f4f2

th, td 
  border-width: 1px 0
  border-style: solid
  border-color: #c4c4c4 #d6d6d6 
  display: table-cell

th 
  background-color: #e7e7e0
  background-image: -webkit-linear-gradient(#e7e7e0,#dbdbd2)
  background-image: linear-gradient(#e7e7e0,#dbdbd2)
  border-width: 1px
  white-space: nowrap 

td:first-child 
  border-left-width: 1px

td:last-child 
  border-right-width: 1px

@require '../../styles/columns'
