body {
  margin: 0;
  padding: 0;
/*  font-family: sans-serif; */
/*  font-family: "Fira Sans","Trebuchet MS","Tahoma","Ubuntu","Helvetica","Arial",sans-serif;*/
  font-family: "Tahoma","Ubuntu","Helvetica","Arial",sans-serif;
  font-size: 13px;
  color: #404040;
  line-height: 1.5; 

}

table {
  border-collapse: collapse;
  border-spacing: 0;

  border-color: grey;  
  margin: 0 5px;

  text-align: center;
}

/*tbody tr:nth-child(odd) {
  background-color: #fff;
}
*/
tbody tr:nth-child(even) {
  background-color: #f4f4f2;
}

/*tbody tr {
  max-height: 56px; 
  line-height: 56px;
}
*/
.avatar img {
  max-height: 54px; 
  vertical-align: middle;
}

th, td {
  border-width: 1px 0;
  border-style: solid;
  border-color: #c4c4c4 #d6d6d6; 

  display: table-cell;

  padding: 3px 10px;
  vertical-align: middle;
}

th {
  padding: 6px 10px;
  background-color: #e7e7e0;
  background-image: -webkit-linear-gradient(#e7e7e0,#dbdbd2);
  background-image: linear-gradient(#e7e7e0,#dbdbd2);
  border-width: 1px;
  text-align: left;
  white-space: nowrap; 
}

td:first-child {
  border-left-width: 1px;
}

td:last-child {
  border-right-width: 1px;
}

th.avatar {
  text-align: left;
}

td.avatar {
/*  padding: 0;*/
  padding: 0 10px;
  vertical-align: middle;
}

td.id {
  text-align: right;
  line-height: 1.2;
}

th.name, td.name {
  text-align: left;
}

td.name {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
}


th.number {
  min-width: 2.6em;
  max-width: 2.6em;
  padding: 6px 0;
  text-align: center;
}

td.number {
/*  padding-right: 10px;*/
  text-align: right;

  min-width: 2.6em;
  max-width: 2.6em;
}

td.number-total {
  font-weight: bold;
}

td.col-types {
  line-height: 0.1;
}

div.type {

  line-height: 1;

  padding: 5px 0;
  margin: 1px 0;

  border: 1px solid #aaa;
  border-radius: 2px;

  color: white;
  font-size: 10px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #333;

  width: 58px;

  background-color: lightgray;

  /*display: inline-block;*/
}

div.type-poison {
  background: #a040a0;
  background-image: -webkit-linear-gradient(#a040a0,#803380);
  background-image: linear-gradient(#a040a0,#803380);
  border-color: #662966
}

div.type-grass {
  background: #78c850;
  background-image: -webkit-linear-gradient(#78c850,#5ca935);
  background-image: linear-gradient(#78c850,#5ca935);
  border-color: #4a892b;
}