@require '../../styles/share'
@require '../../styles/columns'

td.avatar 
  & img 
    min-height: 58px
    max-height: 58px 
    // vertical-align: middle

td.name 
  font-size: 1.2rem
  font-weight: bold
  line-height: 1.2

td.id 
  line-height: 1.2

td.col-types 
  line-height: 0.1
  
td.number-total 
  font-weight: bold

